@page
@model IndexModel
@{
    ViewData["Title"] = "Welcome";
}

<div class="statumanu-icp-picture-banner">

    <div class="logobox-splash"></div>

    <h1 class="big-hero-txt opacity-txt text-white">Statumanu</h1>
    <h2 class="big-hero-txt-h2 opacity-txt text-white">ICP Tracker</h2>
    <h3 class="sub-hero-txt opacity-txt text-white">Non-invasive Intracranial Pressure Measurement</h3>
    <p class="paragraphs">Deep Learning Networks — Cloud Computing  Block Chain Programming - using Innovative technology Statumanus’s software Algorithm detects changes in Intracranial Pressure on demand.</p>
  
    <div class="btnbox2">
        @*<a class=" text-white contact-sales-btn" asp-area="Identity" asp-page="/Account/Register">Contact sales</a>*@
        <div class="btnbox">
            <div class="reg-button">
                <a class="text-dark continuebtn" href="/Identity/Account/Register" style="color: black;font-weight: 700;position: relative;bottom: 10.77px;">Join now<span class="continue-arrow"><img class="continue-arrow" src="/Images/arrowvector.png" alt="arrow"> </span></a>
            </div>
        </div>
    </div>
</div>

<section id="statumanu-icp-software-wrapper">
    <section id="grid-banner-section">

        <div class="grid-banner">
            <div class="grid-box1">
                <section id="technology-solutions-label">
                    <div class="Innovative-technology-herotxt">
                        <h2 class="hero-sub-solutions">Innovative Solutions</h2>
                        <h2 class="hero-sub-advanced">Advanced Technology</h2>
                    </div>
                </section>

            </div>
            <div class="grid-box2">

            </div>
        </div>

    </section>
    <div class="blueribbonbannergrid">
        <div class="blueribbonbox"></div>
    </div>
    <section id="grid-banner-section">

        <div class="grid-banner2">
            <div class="grid-box3">
                <section id="tracking-monitoring-label">
                    <div class="tracking-monitoring-herotxt">
                        <h2 class="hero-sub-tracking">Track and Monitor</h2>
                        <h2 class="hero-sub-tracking">Intracranial Pressure</h2>
                        <h2 class="hero-sub-tracking">Changes Using Our </h2>
                        <h2 class="hero-sub-tracking">Certified Medical Device</h2>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <div class="blueribbonbannergrid">
        <div class="blueribbonbox"></div>
    </div>

    <section id="grid-banner-section">

        <div class="grid-banner">

            <div class="grid-box4">

                <section id="nature-article-wrapper">
                    <article class="nature-article-section">
                        <div class="cards">
                            <div class="card">
                                <div class="nature-article-background" style="background-image: url(/Images/naturemazine4.png);"></div>
                                <div class="nature-article-text-paragraph">
                                    <div class="span-box-flex">
                                        <span class="featured">Featured</span>
                                        <span class="date"><strong>03 August</strong> 2020</span>
                                    </div>
                                    <h2 class="title">A new novel method for assessing intracranial pressure using non-invasive fundus images: a pilot study</h2>
                                    <h3 class="subtitle">The present study correlated measurements of A/V-ratio in patients subjected to direct intracranial pressure monitoring. </h3>
                                    <p class="description">We found a correlation between a rise in ICP and a drop in A/V-ratio at mean ICP values above 15 mmHg.</p>
                                    <a href="https://www.nature.com/articles/s41598-020-70084-0" class="read-now">Read now</a>
                                    <p class="photo-credit"><a href="https://www.nature.com/articles/s41598-020-70084-0">Nature</a></p>
                                </div>
                            </div>


                        </div>

                    </article>
                </section>

            </div>
            <div class="grid-box5">
                <div class="statumanu-icp-software-box">
                    <a class="statumanu-icp-software-link" href="/Privacy" target="_blank">Read more</a>
                </div>

            </div>
        </div>


    </section>

    <section id="grid-banner-section">

        <div class="grid-banner">
            <div class="grid-box6">

            </div>
            <div class="grid-box7">

                <header class="form-header">Contact</header>

                <form id="form" class="topBefore">

                    <input id="name" class="lblcolor" type="text" placeholder="NAME">
                    <input id="email" class="lblcolor" type="text" placeholder="E-MAIL">
                    <textarea id="message" class="lblcolor" type="text" placeholder="MESSAGE"></textarea>
                    <input id="submit" type="submit" value="SUBMIT!">

                </form>



            </div>
        </div>

    </section>
</section>








