@page
@model PrivacyModel
@{
    ViewData["Title"] = "Welcome";
}

<link rel="stylesheet" href="~/css/stayupdated.css" />
<section id="statumanu-stay-updated-software">
    <div class="stay-updated-wrapper">
        <div class="staty-updated-headline">
            <h1>Stay updated on our software development.</h1>
            <p>Statumanu provides an innovative solution, based upon advanced technology, our software detects changes in intracranial pressure. </p>
            <form action="#"><input type="email" id="email" name="email" placeholder="Enter your email..."><input id="submit" type="submit" value="Stay Updated"></form>
        </div>
        <div class="stay-updated-img-box">
            <img src="~/Images/product.png" alt="statumanu-icp-product-software">
            <a class="prototype-link" href="">Help us test the prototype!</a>
        </div>
    </div>
 

</section>











